<!DOCTYPE html>
<html>
  <head>
    <title>Autenticação JWT</title>
   
  </head>
  <body>
    <div class="container">
        <div>
            <h1>
                Erro. Tente Novamente :D
            </h1>
        </div>
        <a href="localhost:8030" target="_blank">
            <button type="button" id="submit">Retornar a tela inicial</button>
        </a>
    </div>

    <style>
      body {
        margin: 0;
        box-sizing: border-box;
        background: linear-gradient(rgba(197, 89, 240, 0.94), #ff9800);
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      * {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
      }
      
      #submit {
        cursor: pointer;
        padding: 5%;
        background-color: rgb(119, 95, 161);
        border-radius: 8px;
        border: 2px solid rgb(0, 0, 0);
        margin-bottom: 2vh;
        width: 20vw;
        height: 5vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        appearance: none;
      }
      #submit:hover {
        transition: 0.3s;
        border: 2px solid rgba(62, 0, 177, 0.747);
        cursor: pointer;
        border-radius: 5px;
      }
      h1{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 2em;
        
      }
      .container {
        display: flex;
        background-color: rgba(0, 0, 0, 0.692);
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        width: 50vw;
        max-width:700px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 50px;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.596); 
        margin: 10%;
        text-decoration: none;
        margin: 3em;
        appearance: none;

    }
   